@import url("https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
$font-family: "Montserrat", sans-serif;
$font-size-base: 16px;
$font-size-lg: 20px;
$font-size-sm: 14px;
$font-montserrat: "Montserrat", sans-serif;
$font-roboto: "Roboto", sans-serif;
$font-bodoni: "Bodoni Moda", serif;
